.commitee_container {
    
    overflow: hidden;
    transition: 0.3s;
  }
  
  .commitee_container:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .po_name {
    font-size: small;
    color: rgb(110, 110, 110);
  }
  
  @media screen and (max-width: 768px) {
    .commitee_container {
  
    }
  
    .p_name,
    .po_name {
      font-size: small;
    }
  }
  