.contact {
  background: rgb(8, 47, 95);
  
  margin-top: -75px;
  color: aliceblue;
}
.contact_form{
  padding: 30px;
  background-color: #f7f7f7;
  border-radius: 20px;
}

.contact_button {
  width: 30%; 
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  height: 40px;
  transition: background 100ms;
}

.contact_button:hover {
  background-color: #F082AC;
}
