.navbody {
  background: rgb(0,29,92);
  background: linear-gradient(180deg, rgba(0,29,92,1) 0%, rgba(5,18,135,1) 56%, rgba(1,114,161,0.6537465327928047) 86%, rgba(1,105,207,0) 100%);
  color: rgb(255, 255, 255);
  /* border-radius: 0 25px 0 25px; */
  font-family: "Spicy Rice", serif;
  font-weight: 400;
  font-style: normal;
  height: 80px;
}
Nav.Link {
  color: rgb(255, 255, 255);
  transition: color 0.3s ease-in-out;
}

.navbar-collapse {
  transition: max-height 0.4s ease;
}
.navbar-toggler {
  border-color: transparent; 
}
 
.navbar-toggler-icon {
  background-color: rgb(255, 255, 255);
  border-radius: 5px; 
}
