.details_container {
  width: 100%;
}

/* Responsive Grid for Details */
.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: start;
  margin: 0;
}

/* Global Styles */
.fonts {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #000;
}

.detail_desc,
.location_details,
.schedule_details,
.shorthand {
  font-style: italic;
}

.shorthand {
  display: flex;
  align-items: center;
}

.shorthand_icon {
  display: flex;
  align-items: center;
}

.shorthand_title {
  font-weight: bold;
}

.gradient-button {
  background-image: linear-gradient(43deg, hsla(340,100%,76%,1) 0%, hsla(269,100%,77%,1) 100%);
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  padding: 0.75rem;
}

.gradient-button:hover {
  transform: scale(1.05);
  transition: 0.4s ease-out;
}

.share_icon {
  font-size: 1.5rem;
  cursor: pointer;
}

/* Media Queries */
@media (max-width: 760px) {
  .details {
    grid-template-columns: 1fr;
  }
  .details_container {
    padding: 0.5rem;
  }
}
