.eventbg {
  background-image: linear-gradient(
      to bottom,
      rgb(8, 47, 95),
      rgba(11, 61, 168, 0)
    ),
    url("../../../assets/gallery-bg-2.jpg");
  height: 700px;
  padding-top: 50px;
  margin-top: -10px;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .eventbg {
    height: 500px;
  }
  .event_div {
    margin-top: -80px;
  }
  .event_cards {
    height: 300px;
  }
}

@media (max-width: 480px) {
  .eventbg {
    height: 430px;
  }
  .event_div {
    margin-top: -80px;
  }
  .event_cards {
    height: 350px;
  }
}

/* Styles for the scrollable container */
.event-scroll-container {
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
  gap: 10px;
  scroll-snap-type: x mandatory;
  scroll-padding: 10px;
  scroll-behavior: smooth; /* Enable smooth scrolling */
}
.event-scroll-container > * {
  scroll-snap-align: start; /* Cards align at the start of the scroll container */
}
.event_div {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
/* Hide the scrollbar by default */
.event-scroll-container::-webkit-scrollbar {
  display: none;
}

.event-scroll-container {
  scrollbar-width: none;
}

/* Show the scrollbar on hover or focus */
.event-scroll-container:hover::-webkit-scrollbar,
.event-scroll-container:focus-within::-webkit-scrollbar {
  display: block;
}

.card-title {
  font-size: 0.9rem !important;
  font-weight: bolder !important;
}

.butn {
  padding: 1 !important;
  font-size: x-small !important;
  background: #000 !important;
}

.card-text {
  font-size: 0.8rem;
}

/* Hide elements on small screens by default */
.hide-on-small {
  display: block !important;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .card-title {
    font-size: 1.2rem;
  }
}

/* Media query for very small screens (mobile) */
@media (max-width: 480px) {
  .card-title {
    font-size: 0.8rem;
  }
  .hide-on-small {
    display: none !important;
  }
}
