 
.card-title {
  font-size: 1.5rem;
}

.card-text {
  font-size: 1rem;
}

/* Hide elements on small screens by default */
.hide-on-small {
  display: none !important;
}

 
/* Media query for smaller screens */
@media (max-width: 768px) {
  .card-title {
    font-size: 1.2rem;
  }
  .hide-on-small {
    display: none !important;
  }
}
/* Media query for very small screens (mobile) */
@media (max-width: 480px) {
  .card-title {
    font-size: 0.8rem;
  }
  
}
